.containerItem {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #0258d0d5;
  background-image: linear-gradient(101deg, #0258d0d5 0%, #ff76d6 54%);
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.containerItem--complete {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #0e002b;
  background-image: linear-gradient(90deg, #0e002b 0%, #2d00d8 100%);
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.iconckeck {
  background-color: #fff;
  width: 15px;
  height: 15px;
  padding: 2px;
  border-radius: 50%;
  box-shadow: 1px -1px 5px #fff;
}

#deleteIcon {
  fill: #ffff;
}

#deleteIcon:hover {
  fill: #888888;
}

.textList {
  color: #ffff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .iconckeck:hover {
    fill: #ff26ba;
  }
}
@media (min-width: 1024px) {
  .iconckeck:hover {
    fill: #ff26ba;
  }
}
