.TodoList-container {
  width: 90%; /* Ancho relativo al 90% del contenedor padre */
  max-height: 50vh; /* Altura máxima del 50% del alto de la pantalla */
  overflow-y: auto; /* Agrega un scroll vertical si es necesario */
}

.list {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .TodoList-container {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .TodoList-container {
    width: 39%;
  }
}
