form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #0258d0d5;
  height: fit-content;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

label {
  color: #ffff;
  margin-bottom: 5px;
}

textarea {
  padding: 10px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: #fffffff8;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

textarea::placeholder {
  color: #3b3b3b;
  font-weight: 400;
}

textarea:focus {
  outline-color: #0e002b;
}

.TodoForm-buttonContainer {
  display: flex;
  gap: 20px;
}

.TodoForm-button {
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
}

.TodoForm-button--cancel {
  background-color: #fdfdfd28;
  color: #ffff;
}

.TodoForm-button--add {
  background-color: #ff26ba;
  color: #ffff;
}

@media (max-width: 767px) {
  form {
    margin-top: 20px;
    width: 75%;
  }

  textarea {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  form {
    width: 35%;
  }

  textarea {
    width: 80%;
    height: 50px;
  }
}

@media (min-width: 1024px) {
  label {
    font-size: 20px;
  }

  form {
    width: 40%;
    max-width: 600px;
  }

  textarea {
    width: 80%;
    height: 50px;
  }
}
