.createNewTodo-containerloading {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #7b7b7b82;
  height: fit-content;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  animation: loadingAnimation 1s infinite;
}

.createNewTodoLoading-title {
  width: 200px;
  height: 20px;
  background-color: #7f7f7fe0;
  border-radius: 4px;
  margin-right: 8px;
}

.createNewTodoLoading-input {
  width: 200px;
  height: 40px;
  background-color: #7f7f7fe0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 8px;
}

.createNewTodoLoading-buton {
  height: 40px;
  width: 150px;
  background-color: #7f7f7fe0;
  border-radius: 4px;
  margin-right: 8px;
}

@keyframes loadingAnimation {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@media (min-width: 1024px) {
  .createNewTodo-containerloading {
    width: 400px;
    height: 60%;
  }
}
