.buttonAdd {
  height: 40px;
  width: 150px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  background-color: #ff26ba;
  color: #ffff;
  border-radius: 10px;
  letter-spacing: 0.5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  .buttonAdd {
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .buttonAdd {
    margin-left: 40px;
  }
}
@media (min-width: 1024px) {
  .buttonAdd {
    margin-left: 60px;
  }
}
