body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0px 0 0 0;
  background-color: #2f3131;
  background-image: linear-gradient(
    43deg,
    #2f3131 0%,
    #161616 46%,
    #000000 100%
  );

  font-family: "Poppins", sans-serif;
}

code {
  font-family: "Poppins", sans-serif;
}
