h1 {
  text-align: center;
  background-image: linear-gradient(
    to right,
    #006aff,
    #ff26ba,
    #bd01e3,
    #43fff9
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
}

h2 {
  font-size: 24px;
  text-align: start;
  background-image: linear-gradient(to right, #0ce3ff, #000cf6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: 300px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 16px;
    margin-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 34px;
    margin-top: 20px;
  }

  h2 {
    font-size: 24px;
    margin-left: 60px;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 50px;
    margin-top: 40px;
  }

  h2 {
    font-size: 26px;
    margin-left: 100px;
  }
}
